{% extends 'base.html' %}

{% block content %}
<style>
    .password-reset-confirm-section button{
        border: tomato solid 1px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }
</style>
    <section class="password-reset-confirm-section">
        <div class="container">
            <div class="row m-3">
                <div class="col-12">
                    <form action="" method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        var input = document.querySelectorAll("input");
        input[0].setAttribute("class","form-control")
        input[1].setAttribute("class","form-control")
    </script>
{% endblock %}