{% extends 'base.html' %}

{% block content %}
<style>
    .password-change-section button{
        border: tomato solid 1px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }
</style>
    <section class="password-change-section">
        <div class="container">
            <div class="row m-3">
                <div class="col-sm-12">
                    <form action="" method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default">Change now</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        
        var input = document.querySelectorAll("input");
        var array = Array.from(input)
        array.forEach((field)=>{
            field.setAttribute("class","form-control")
        })
    </script>
{% endblock %}