
{% extends 'base.html' %}

{% block content %}
<style>
    .password-change-done-section button{
        border: tomato solid 1px;
    }
    .password-change-done-section a{
        color: #000;
        text-decoration: none;
    }
</style>
    <section class="password-change-done-section">
        <div class="container">
            <div class="row">
                <div class="text-center col-12">
                    <h3>Change Password Successfully</h3>
                    <a href="{% url 'dashboard' %}">
                        <span>Go to you  </span>
                        <span><button class="btn btn-default">Dashboard</button></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}